@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,400;0,900;1,400;1,900&display=swap');

html {
    scroll-behavior: smooth;     
  }
   
  :target {
    scroll-margin-top: .8em;
  }

body{
    font-family: Lato,sans-serif;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    min-width: 800px;
}

h1{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;    
    color: #333333;
    margin: 25px;
}

h3{
    font-weight: bold;    
    color: azure; 
    text-transform: uppercase;
}


h4{
    font-weight: bold;    
    color: #00ae9d; 
    text-transform: uppercase;
}

p{
    font-weight: normal;
    color: #666666;
    margin: 0px;
    padding: 0px;
}

i{
    padding: 8px 8px 0px 25px;
}

.info-top{
    background-color: #333333;
    padding: 15px;
    color: #f9f9f9;
    text-align: center;
    font-size: 20px;
}

.info-top:hover{
    background-color: black;
    padding: 15px;
    color: crimson;
    text-align: center;
    font-size: 20px;
}

.menu_topo_fixo {        
    position: fixed; 
    width: 100%;
    background-color: crimson;
    margin: 0;
    padding: 25px;
    text-align: center;
    border-bottom: #f9f9f9 2px solid;
    color: azure;    
  }

.a-menu{
    color: azure;
    text-decoration: none;
}
.a-menu:hover{
    color: #c9d200;
    text-decoration: none;
}  

.logo-top{            
    font-family: Great Vibes;
    background-color: #00ae9d;
    padding: 130px 20px 50px 20px;    
    color: azure;
    font-size: 80px;
    text-align: center;   
    
}

.hr-vert{
    border-right: azure 1px solid;
    padding-right: 25px;
}

.redbold{
    color: crimson;
    font-weight: bolder;
    text-transform: uppercase;
}

.row-beneficios{    
    margin: 10px;
    text-align: center;
    padding-top: 30px;
}

.box_beneficios{
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: center;
    border: #333333 1px solid;
    margin: 10px;
    padding: 25px;
}

.cleanner {
    clear: both;
}

.row-passo-passo{
    background-color:crimson;
    margin: 0px;
    padding: 60px;    
    text-align: center;
}

.box_passo-passo{
    display: inline-block;
    text-align: center;    
    color: azure;
    width: 300px;
    height: 250px;
    text-align: center;    
    margin: 10px;
    padding: 25px;
}

.tags_light{
    color: azure;
}

.row-mostruario{
    background-color:#f9f9f9;
    margin: 0px;
    padding: 30px;
    text-align: center;    
}

.cta_light{
    margin: 30px;
    padding: 15px;
    background-color: crimson;
    border: aliceblue 1px solid;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;

}
.cta_light:hover{
    background-color: #f9f9f9;
    margin: 30px;
    padding: 15px;    
    border: aliceblue 1px solid;
    text-transform: uppercase;
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.cta_dark{
    margin: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border: crimson 1px solid;
    text-transform: uppercase;
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;

}
.cta_dark:hover{
    background-color: crimson;
    margin: 30px;
    padding: 15px;    
    border: crimson 1px solid;
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.row-depoimentos{
    background-color:#ececec;
    margin: 0px;
    padding: 30px 0px 60px 0px;
    text-align: center;        
}
.box_avaliacoes{
    display: inline-block;    
    width: 400px;
    height: auto;
    text-align: left;
    border: #00ae9d 1px solid; 
    margin: 10px;   
    padding: 8px 25px 10px 25px;
    border-radius: 8px;
}
.img-stars{            
    float: right;
    width: 100px;        
    margin: 5px;
    padding-top: 15px;
}

.nome-avaliador{
    display: block;
    float: inline-start;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;    
    border-bottom: #00ae9d 1px dotted;
    padding: 0px 0px 5px 0px;    
}

.cidade-avaliador{
    display: block;
    float: inline-start;
    text-align: left;
    font-style: italic;    
    padding: 10px 0px 15px 0px;
}

.descr-avaliacao{
    display: block;
    text-align: justify;    
    font-style: oblique;
    padding: 2px 0px 15px 0px;
}

/* ######################## GALERIA DE IMAGENS ######################## */
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.1rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Sintaxe alternativa **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  /* ######################## FORMULÁRIO ######################## */

form{
    display: inline-block;    
    width: 960px;
    height: auto;    
    border: #f9f9f9 1px dotted; 
    margin: 10px;   
    padding: 20px 25px 50px 25px;
    border-radius: 4px;
    
}  

.row-form{        
    background-color: crimson;
    margin: 0px;
    padding: 60px;
    text-align: center;        
  }

input[type=text], select {    
    font-size: 16px;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;    
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ######################## GALERIA DE IMAGENS ######################## */
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.1rem; 
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Sintaxe alternativa **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Sintaxe alternativa **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }

  /* ######################## FOOTER ######################## */

.row-footer{
    display: block;
    text-align: center;    
    background-color: #00ae9d;
    margin: 0px;
    padding: 40px 0px 60px 0px;    
}

.logo-footer{
    width: 470px;
    font-family: Great Vibes;    
    text-align: left;
    background-color: #00ae9d;    
    color: azure;
    font-size: 40px;      
    padding: 0px 0px 15px 400px;            
}

.line{
    display: block;
    width: 525px;
    border-bottom: azure 1px dotted;
    margin-left: 350px;

}

.footer-colunas{
    display: inline-block;
    padding: 0px 20px 0px 20px;
    text-align: left;
}

.p-footer{
    font-weight: normal;
    color: azure;
    margin: 0px;
    padding: 0px;
}

.formas-pgto{
    background-color: white;
    padding: 20px 20px 35px 20px;
    border-radius: 5px;
    
}

.copyrights{    
    background-color: #f9f9f9;
    text-align: center;    
    font-size: 12px;
    color: #ececec;
    padding: 20px;
}

.copyrights a{
    color: crimson;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

/* ####################### BOTÃO VOLTAR AO TOPO ######################### */

#subir{
	position:fixed;	
    text-decoration: none;
    text-align: center;
    bottom: 20px;
    right: 30px;    
    color: #00ae9d;
    cursor: pointer;   
}